Source: ros-rolling-ublox-dgnss-node
Section: misc
Priority: optional
Maintainer: Nick Hortovanyi <nick@aussierobots.com.au>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libusb-1.0-0-dev, pkg-config, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rtcm-msgs, ros-rolling-ublox-ubx-interfaces, ros-rolling-ublox-ubx-msgs, ros-rolling-ros-workspace
Homepage: https://github.com/aussierobots/ublox_dgnss
Standards-Version: 3.9.2

Package: ros-rolling-ublox-dgnss-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libstd-msgs-dev, libusb-1.0-0-dev, python3-std-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rtcm-msgs, ros-rolling-ublox-ubx-interfaces, ros-rolling-ublox-ubx-msgs, ros-std-msgs, ros-rolling-ros-workspace
Description: Provides a ublox_gnss node for a u-blox GPS GNSS receiver using Gen 9 UBX Protocol
