Source: ros-humble-ublox-dgnss
Section: misc
Priority: optional
Maintainer: Nick Hortovanyi <nick@aussierobots.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ntrip-client-node, ros-humble-ublox-dgnss-node, ros-humble-ublox-nav-sat-fix-hp-node, ros-humble-ublox-ubx-interfaces, ros-humble-ublox-ubx-msgs, ros-humble-ros-workspace
Homepage: https://github.com/aussierobots/ublox_dgnss
Standards-Version: 3.9.2

Package: ros-humble-ublox-dgnss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ntrip-client-node, ros-humble-ublox-dgnss-node, ros-humble-ublox-nav-sat-fix-hp-node, ros-humble-ublox-ubx-interfaces, ros-humble-ublox-ubx-msgs, ros-humble-ros-workspace
Description: Provides a ublox_dgnss node for a u-blox GPS DGNSS receiver using Gen 9 UBX Protocol
